<div class="columns eventitem large-4" id="{tag_counter}" data-date="{tag_event date}">
    <div class="section sec-b">
        <a href="{tag_itemurl_nolink}"><img alt="" src="_assets/images/events/img-list-{tag_event day of month}.jpg" /><em class="icon-hover icon-external-link"></em>
        </a>
        <div class="sec-facts"> <span>{tag_event month} {tag_event day of month}, {tag_event year} <em class="icon-calendar"></em></span>
        </div>
        <div class="sec-info">
            <h4>{tag_title}</h4>
            <hr />
        </div>
        <div style="display: none;" class="short-desc"> {tag_description,70}</div>
    </div>
</div>