<t class="result"></t>
<h2>Score results for: {tag_name}</h2>
<table role="grid" class="dtl">
    <tbody>
        <tr>
            <td colspan="2">
                <p>{tag_description}</p>
                {tag_image 1}
                <p style="text-align: center; max-width:100%">{tag_image 1 title}<br /></p>
            </td>
        </tr>
        <tr id="event1">
            <td>
                <h4><strong>&nbsp;Event 1</strong></h4> </td>
            <td>
                <h4 class="item"><stong>{tag_event 1 name}</stong></h4> </td>
        </tr>
        <tr class="result event1 show">
            <td>
                <p><strong>&nbsp;Overall</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 1 overall}</p>
            </td>
        </tr>
        <tr class="result event1 show">
            <td>
                <p><strong>&nbsp;AA</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 1 aa}</p>
            </td>
        </tr>
        <tr class="result  event1 show">
            <td>
                <p><strong>&nbsp;A</strong>
                </p>
            </td>
            <td>
                <p class="item  event1 show">{tag_event 1 a}</p>
            </td>
        </tr>
        <tr class="result  event1 show">
            <td>
                <p><strong>&nbsp;B</strong>
                </p>
            </td>
            <td>
                <p cass="item">{tag_event 1 b}</p>
            </td>
        </tr>
        <tr class="result  event1 show">
            <td>
                <p><strong>&nbsp;C</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 1 c}</p>
            </td>
        </tr>
        <tr id="event2spacer">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr id="event2">
            <td>
                <h4><strong>&nbsp;Event 2</strong></h4> </td>
            <td>
                <h4 class="item"><strong>{tag_event 2 name}</strong></h4> </td>
        </tr>
        <tr class="result  event2 show">
            <td>
                <p><strong>&nbsp;Overall</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 2 overall}</p>
            </td>
        </tr>
        <tr class="result  event2 show">
            <td>
                <p><strong>&nbsp;AA</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 2 aa}</p>
            </td>
        </tr>
        <tr class="result  event2 show">
            <td>
                <p><strong>&nbsp;A</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 2 a}</p>
            </td>
        </tr>
        <tr class="result  event2 show">
            <td>
                <p><strong>&nbsp;B</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 2 b}</p>
            </td>
        </tr>
        <tr class="result  event2 show">
            <td>
                <p><strong>&nbsp;C</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 2 c}</p>
            </td>
        </tr>
        <tr id="event3spacer">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr id="event3">
            <td>
                <h4><strong>&nbsp;Event 3<br /> </strong></h4> </td>
            <td>
                <h4 class="item"><strong>{tag_event 3 name}</strong></h4> </td>
        </tr>
        <tr class="result event3 show">
            <td>
                <p><strong>&nbsp;Overall</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 3 overall}</p>
            </td>
        </tr>
        <tr class="result event3 show">
            <td>
                <p><strong>&nbsp;AA</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 3 aa}</p>
            </td>
        </tr>
        <tr class="result event3 show">
            <td>
                <p><strong>&nbsp;A</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 3 a}</p>
            </td>
        </tr>
        <tr class="result event3 show">
            <td>
                <p><strong>&nbsp;B</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 3 b}</p>
            </td>
        </tr>
        <tr class="result event3 show">
            <td>
                <p><strong>&nbsp;C</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 3 c}</p>
            </td>
        </tr>
        <tr id="event4spacer">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr id="event4">
            <td>
                <h4><strong>&nbsp;Event 4<br /> </strong></h4> </td>
            <td>
                <h4 class="item"><strong>{tag_event 4 name}</strong></h4> </td>
        </tr>
        <tr class="result event4 show">
            <td>
                <p><strong>&nbsp;Overall</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 4 overall}</p>
            </td>
        </tr>
        <tr class="result event4 show">
            <td>
                <p><strong>&nbsp;AA</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 4 aa}</p>
            </td>
        </tr>
        <tr class="result event4 show">
            <td>
                <p><strong>&nbsp;A</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 4 a}</p>
            </td>
        </tr>
        <tr class="result event4 show">
            <td>
                <p><strong>&nbsp;B</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 4 b}</p>
            </td>
        </tr>
        <tr class="result event4 show">
            <td>
                <p><strong>&nbsp;C</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 4 c}</p>
            </td>
        </tr>
        <tr id="event5spacer">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr id="event5">
            <td>
                <h4><strong>&nbsp;Event 5<br /> </strong></h4> </td>
            <td>
                <h4 class="item"><strong>{tag_event 5 name}</strong></h4> </td>
        </tr>
        <tr class="result event5 show">
            <td>
                <p><strong>&nbsp;Overall</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 5 overall}</p>
            </td>
        </tr>
        <tr class="result event5 show">
            <td>
                <p><strong>&nbsp;AA</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 5 aa}</p>
            </td>
        </tr>
        <tr class="result event5 show">
            <td>
                <p><strong>&nbsp;A</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 5 a}</p>
            </td>
        </tr>
        <tr class="result event5 show">
            <td>
                <p><strong>&nbsp;B</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 5 b}</p>
            </td>
        </tr>
        <tr class="result event5 show">
            <td>
                <p><strong>&nbsp;C</strong>
                </p>
            </td>
            <td>
                <p class="item">{tag_event 5 c}</p>
            </td>
        </tr>
        <tr id="highgunsspacer">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<!-- >> DTL Score results - you have to be carefull to open the detailed page only in Dreamweaver, otherwise,   >> BC strips the "data-clearing" on the UL tag and this breaks the lightbox.       >> eg. <ul class="clearing-thumbs small-block-grid-4" data-clearing>      >> Update to this - the following apparently stops it breaking in BC Editor  - thanks to Nicole @ BC Gurus.    <ul data-orbit="data-orbit" data-clearing="data-clearing">  -->
<ul class="clearing-thumbs small-block-grid-4" data-clearing="data-clearing">
    <li><a href="{tag_image 1_value}"><img alt="" data-caption="{tag_image 1 title}" src="{tag_image 1_value}"></a></li>
    <li><a href="{tag_image 2_value}"><img alt="" data-caption="{tag_image 2 title}" src="{tag_image 2_value}"></a></li> 
    <li><a href="{tag_image 3_value}"><img alt="" data-caption="{tag_image 3 title}" src="{tag_image 3_value}"></a></li>
</ul>