<article class="section sec-a">
    <a href="{tag_itemurl_nolink}"><img alt="" src="{tag_blogpostfeaturedimageurl}" /><em class="icon-hover icon-link"></em></a>
	<aside>
		<p><span class="enlarge">{tag_blogpostday}</span> {tag_blogpostmonth} {tag_blogpostyear}</p>
		<p><span class="enlarge">{tag_commentcount}</span> Comments</p>
	</aside>
	<h1>{tag_blogposttitle}</h1>
	<p>{tag_blogpostbody,280}</p>
	<a href="{tag_itemurl_nolink}" class="right button small radius">Read More <em class="icon-chevron-right"></em></a>
</article>
