<div class="bio large-6 columns">
<div class="image left" style="margin-right: 10px;">
<img alt="" width="80" height="80" src="{tag_image (180px x 180px)_value}?Action=thumbnail&amp;Width=80&amp;Height=80&amp;algorithm=fill_proportional" />
<!--
<a href="{tag_itemurl_withhost}">
    <img alt="" width="180" height="180" src="{tag_image (180px x 180px)_value}?Action=thumbnail&amp;Width=180&amp;Height=180&amp;algorithm=fill_proportional" />
</a>
-->
</div>
<div class="info">
<h3 class="name">{tag_name_nolink}</h3>
<p class="title">{tag_title}</p>
<p>
<span class="contact_{tag_contact phone}">{tag_contact phone}</span><br />
<span class="email">{tag_email}</span>
</p>
<!-- <p>{tag_short description}</p>  -->
<!-- <p><a href="{tag_itemurl_withhost}">Read More &rarr;</a></p> -->
</div>
</div>