<div class="small-12 columns sponsors" style="min-height: 270px;">
<div class="image">
    <img alt="{tag_name}" height="180" src="{tag_image 180px by 180px_value}?Action=thumbnail&amp;Height=180&amp;algorithm=fill_proportional" />
</div>
<h3>{tag_name}</h3>
<div class="address">
<p>{tag_address1}<br />
{tag_addresscity} {tag_addressstate} {tag_addresszipcode}</p>
</div>
<div class="descn">
<span class="descn-info">
<p>{tag_description}</p>
</span>
</div>
<div class="phone">Phone:&nbsp;<span class="phone-info">{tag_phone}</span></div>
<div class="email">Email:&nbsp;<span class="email-info">{tag_email}</span></div>
<div class="website">Web:&nbsp;<span class="website-info">{tag_website}</span></div>
</div>